@font-face {
  font-family: "iconfont"; /* Project id 3883197 */
  src: url('iconfont.woff2?t=1676531524573') format('woff2'),
       url('iconfont.woff?t=1676531524573') format('woff'),
       url('iconfont.ttf?t=1676531524573') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-filed:before {
  content: "\e623";
}

.icon-yishibai1:before {
  content: "\e748";
}

.icon-success:before {
  content: "\e6cd";
}

.icon-chat1:before {
  content: "\e6bc";
}

.icon-chart:before {
  content: "\e6b8";
}

.icon-lock:before {
  content: "\e6b9";
}

.icon-money:before {
  content: "\e6ba";
}

.icon-user:before {
  content: "\e6bb";
}

.icon-error:before {
  content: "\e662";
}

.icon-code:before {
  content: "\e620";
}

.icon-right:before {
  content: "\e644";
}

.icon-member:before {
  content: "\e642";
}

.icon-shezhi:before {
  content: "\e63d";
}

.icon-share:before {
  content: "\e643";
}

.icon-collect_full:before {
  content: "\e607";
}

.icon-collect:before {
  content: "\e602";
}

.icon-jinggao:before {
  content: "\e62d";
}

.icon-up:before {
  content: "\e616";
}

.icon-filter:before {
  content: "\ea20";
}

.icon-down:before {
  content: "\e613";
}

.icon-search:before {
  content: "\e60b";
}

.icon-address:before {
  content: "\e64e";
}

